@font-face {
  font-family: 'DoctorWho';
  src: url('fonts/Doctor-Who.ttf') format('truetype');
}

h2 {
  font-family: 'Comic Sans MS', 'DoctorWho', 'Bernard MT Condensed', 'Arial';
  color: blueviolet;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Arial';
}