body {
  background-image: url('../img/openingdoctorwho.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: yellow;
  border-radius: 8px;
  color: darkblue;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 300px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

header h1 {
  color: yellow;
  font-size: 1.5em;
}

header img {
  width: 500px;
}
